@tailwind base;
@tailwind components;
@tailwind utilities;

.borderr {
  border: 1px solid red;
}

.headerLink {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  /* font-size: 0.65rem;
    line-height: 1rem; */
  /* font-weight: 300; */
}

.headerLink::after {
  content: "";
  height: 1px;
  background: black;
  left: 0;
  bottom: 0px; /* Adjust this value to move the line closer to the text */
  width: 100%; /* Start with full width */
  position: absolute;
  transform: scaleX(0); /* Initially scale the width to 0 */
  transform-origin: left; /* The animation starts from the left */
  transition: transform 0.5s ease-out;
}

.headerLink:hover::after {
  transform: scaleX(1); /* Scale to full width on hover */
  transform-origin: left; /* Ensure the line grows from left to right */
}
.headerLink::after {
  transform: scaleX(
    0
  ); /* Scale back to 0, but the transform-origin changes to right */
  transform-origin: right;
}
